<ngx-spinner name="event-location" *ngIf="loadingShow" bdColor="rgba(48,168,79,0.3)" size="medium" color="#fff"
    type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">{{ 'SPINNER_DELETE' | translate }}</p>
</ngx-spinner>
<div class="trans-history">
        <div class="row">
            <div class="col-12 py-3">

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>{{ 'FORM_NUMBER_LIGNE' | translate }}</th>
                            <th scope="col">{{ 'FORM_NAME' | translate }}</th>
                            <th scope="col">{{ 'FORM_ADDRESS' | translate }}</th>
                            <th scope="col">{{ 'FORM_ACTION' | translate }}</th>
                            <th scope="col">
                                <button mat-stroked-button (click)="createEventLocation()">{{ 'BTN_NEW' | translate }}</button>
                            </th>
                        </tr>
                    </thead>
                    <tbody *ngIf="activeEvents&&activeEvents.length > 0">
                        <tr *ngFor="let event of activeEvents; let i = index">
                            <th>{{i+1}}</th>
                            <td>{{event.place_name}}</td>
                            <td>{{event.place_address}}</td>
                            <td>
                                <button mat-stroked-button (click)="updateEventLocation(event)">{{ 'BTN_UPDATE' | translate }}</button>
                            </td>
                            <td>
                                <button mat-stroked-button (click)="deleteEvents(event, i)">{{ 'BTN_DELETE' | translate }}</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div class="mt-2 d-flex justify-content-end mr-4"
                *ngIf="activeEvents && activeEvents.length > 0 && totalPages>1">
                <div class="row justify-content-between">
                    <div class="col-3 p-0">
                        <span class="pagination-text">{{ 'FORM_NUMBER' | translate }}</span>
                    </div>
                    <div class="col-2 p-0">
                        <select style="border-width: 0px;" (change)="updateNumberItems(nbItemsByPage)"
                            class="pagination-text" [ngModelOptions]="{standalone:true}" [(ngModel)]="nbItemsByPage">
                            <option class="pagination-text" *ngFor="let item of getNumberItems()" [value]="item">
                                {{item}}
                            </option>
                        </select>
                    </div>
                    <div class="col-3 p-0">
                        <span
                            class="pagination-text">{{currentPage>1?(currentPage-1)*nbItemsByPage+1:1}}-{{nbItemsByPage*currentPage>nbItems?(nbItemsByPage*(currentPage -1))+activeEvents.length:nbItemsByPage*currentPage}}
                            of {{nbItems}}
                        </span>
                    </div>
                    <div class="col-1 pagination-text">
                        <i class="mat-icon material-icons" (click)="previousActiveList(currentPage)">chevron_left</i>
                    </div>
                    <div class="col-1 pagination-text" (click)="nextActiveList(currentPage)">
                        <i class="mat-icon material-icons">chevron_right</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>