<ngx-spinner name="update-family" *ngIf="loadingShow" bdColor="rgba(48,168,79,0.3)" size="medium" color="#fff"
    type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">{{ 'SPINNER_UPDATE' | translate }}</p>
</ngx-spinner>

<div class="container" id="tontine-new">

    <div class="row justify-content-center">

        <div class="col-12 col-md-10">

            <div @slideInLeft class="card">
                <div class="row mx-0">
                    <div class="col-12">
                        <h4 class="py-2 text-center">{{ 'FAMILY_UPDATE_FAMILY' | translate }}</h4>
                    </div>
                </div>
                <form [formGroup]="formFamily" class="row m-2">

                    <mat-form-field class="col-md-12">
                        <input matInput placeholder="{{ 'FORM_FAMILY_NAME' | translate }}*" formControlName="nom_famille">
                        <mat-error *ngIf="nomFamille.invalid">
                            {{ 'FORM_FAMILY_NAME_ERROR_MSG' | translate }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="col-md-12">
                        <textarea rows="3" matInput placeholder="{{ 'FORM_DESCRIPTION' | translate }}*" formControlName="description"></textarea>
                        <mat-error *ngIf="description.invalid">
                            {{ 'FORM_DESCRIPTION_ERROR_MSG' | translate }}
                        </mat-error>
                    </mat-form-field>
                    
                    <div ngbAutofocus class="col-12 mt-3 button-area">
                        <button mat-stroked-button [disabled]="formFamily.invalid"
                            (click)="updateFamily()">{{ 'BTN_UPDATE' | translate }}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>