p:hover{
    animation: pulse;
    animation-duration: 3s;
    animation-delay: 3s;
    background-color: #2fa84f;
    color: #fff;
    margin-left: 5px; 
    padding: 2rem;
    cursor: pointer;
  }
  