<div class="article-wrapper">
        <div class="card p-2  m-2" *ngFor="let article of activelistArticles">
            <div class="col-12 col-md-12">
                <h4 [innerHTML]="article.title"></h4>
            </div>
            <div class="row no-gutters">
                <div class="col-4 col-md-3 m-1">
                    <img class="img-thumbnail" src="{{article.picture ? article.picture : 'assets/images/vacances.jpg'}}">
                </div>
                <div class="col-8 col-md-7 m-1">
                    <p class="text-justify" [innerHTML]="limitSize(article.content)"></p>
                    <button style="float: right" class="btn btn-share text-right" (click)="showMore(article)" *ngIf="article.content.length > 300">{{ 'BTN_VIEW_MORE' | translate }}</button>
                </div>
            </div>
    
        </div>
    </div>

    <div class="mt-2 d-flex justify-content-end mr-4"
    *ngIf="activelistArticles && activelistArticles.length > 0 && totalPages>1">
    <div class="row justify-content-between">
        <div class="col-3 p-0">
            <span class="pagination-text">{{ 'FORM_NUMBER_LIGNE' | translate }}</span>
        </div>
        <div class="col-2 p-0">
            <select style="border-width: 0px;" (change)="updateNumberItems(nbItemsByPage)"  class="pagination-text" [ngModelOptions]="{standalone:true}" [(ngModel)]="nbItemsByPage">
                <option class="pagination-text" *ngFor="let item of getNumberItems()" [value]="item">
                    {{item}}
                </option>
            </select>
        </div>
        <div class="col-3 p-0">
            <span class="pagination-text">{{currentPage>1?(currentPage-1)*nbItemsByPage+1:1}}-{{nbItemsByPage*currentPage>nbItems?(nbItemsByPage*(currentPage -1))+activelistArticles.length:nbItemsByPage*currentPage}}
                of {{nbItems}}
            </span>
        </div>
        <div class="col-1 pagination-text">
            <i class="mat-icon material-icons" (click)="previousActiveList(currentPage)">chevron_left</i>
        </div>
        <div class="col-1 pagination-text" (click)="nextActiveList(currentPage)">
            <i class="mat-icon material-icons">chevron_right</i>
        </div>
    </div>
</div>
