<ngx-spinner name="add-video" *ngIf="loadingShow" bdColor="rgba(48,168,79,0.3)" size="medium" color="#fff"
    type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">{{ 'SPINNER_UPLOAD' | translate }}</p>
</ngx-spinner>

<div class="container" id="tontine-new">

    <div class="row justify-content-center">

        <div class="col-12 col-md-10">

            <div @slideInLeft class="card">
                <div class="row mx-0 ">
                    <div class="col-12">
                        <h4 class="py-2 text-center" >{{ 'ADD_VIDEO' | translate }}</h4>
                    </div>
                </div>
                <form [formGroup]="formVideo" class="row m-2">

                    <mat-form-field class="col-md-12">
                        <input matInput placeholder="{{ 'FORM_TITLE_FR' | translate }}*" formControlName="title_fr">
                        <mat-error *ngIf="titleFr.invalid">
                            {{ 'FORM_TITLE_FR_ERROR_MSG' | translate }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="col-md-12">
                        <input matInput placeholder="{{ 'FORM_TITLE_EN' | translate }}*" formControlName="title_en">
                        <mat-error *ngIf="titleEn.invalid">
                            {{ 'FORM_TITLE_EN_ERROR_MSG' | translate }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="col-md-12">
                        <textarea rows="3" matInput placeholder="{{ 'FORM_DESCRIPTION_FR' | translate }}*" formControlName="description_fr"></textarea>
                        <mat-error *ngIf="contenuFr.invalid">
                            {{ 'FORM_DESCRIPTION_FR_ERROR_MSG' | translate }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="col-md-12">
                        <textarea rows="3" matInput placeholder="{{ 'FORM_DESCRIPTION_EN' | translate }}*" formControlName="description_en"></textarea>
                        <mat-error *ngIf="contenuEn.invalid">
                            {{ 'FORM_DESCRIPTION_EN_ERROR_MSG' | translate }}
                        </mat-error>
                    </mat-form-field>

                    <div class="col-12 mt-2">
                        <p class="picture-title">{{ 'VIDEO_FORM_MESSAGE' | translate }}</p>
                    </div>
                  
                    <div class="form-group col-12">
                        <mat-fileupload [uploadLabel]= "'VIDEO_UPLOAD' | translate" (getFiles)="onFileVideo($event)" ></mat-fileupload> 
                    </div>

                    <div class="col-12" *ngIf="videdoReadError">
                        <p style="color: #e85f1c"> {{ 'READ_VIDEO_ERROR' | translate }}
                            </p>
                    </div>

                    <div class="col-12" *ngIf="doctypeError">
                        <p style="color: #e85f1c"> {{ 'VIDEO_TYPE_ERROR' | translate }}</p>
                    </div>

                    <div class="col-12 mt-3 button-area">
                        <button mat-stroked-button [disabled]="formVideo.invalid"
                            (click)="addVideo()">{{ 'BTN_SAVE' | translate }}</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>