<div class="container" id="login">
    <div class="text-center modal-header">
        <h4 class="py-2">{{ 'PROFILE_UPDATE_PASSWORD' | translate }}</h4>
    </div> 
    <div class="modal-body">
        <form class="row" [formGroup]="updatePassForm">
            <div class="col-12 form-group">
                <input type="password"[ngClass]="(password.dirty && !password.valid)?'form-control form-control-error':'form-control'"  name="email_phone" placeholder="{{'FORM_PASSWORD' | translate}}" formControlName="password" required>    
                <div class="error" *ngIf="password.dirty && password.invalid">
                   {{ 'FORM_PASSWORD_ERROR_MSG' | translate }}
                </div>                                
            </div>
            <div class="col-12 form-group">
                <input type="password" [ngClass]="(passwordConfirm.dirty && !passwordConfirm.valid)?'form-control form-control-error':'form-control'" placeholder="{{'FORM_CONFIRM_PASSWORD' | translate }}" formControlName="passwordConfirm" required>    
                <div class="error" *ngIf="passwordConfirm.dirty && passwordConfirm.invalid">
                 {{ 'FORM_CONFIRM_PASSWORD_ERROR_MSG' | translate }}
                </div>                                
            </div>
            <div class="col-12">
                <div class="row m-3">
                    <div  class="col-12 col-md text-right"> 
                        <button mat-stroked-button class="btn-share" [disabled]="updatePassForm.invalid" type="submit" (click)="updatePawword()">{{ 'BTN_SAVE' | translate }}</button>
                        <img *ngIf="loading" class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" /> 
                    </div>                
                </div>
            </div>
        </form>
    </div>
</div>
