<div class="container" id="feedback">
    <div class="col-12 col-md-10 col-lg-12">
        <form class="row justify-content-between" [formGroup]="contactForm">
     
            <div class="col-12 form-group">
                <textarea rows="5" type="text"
                    [ngClass]="(message.dirty && !message.valid)?'form-control form-control-error':'form-control'"
                    placeholder="{{ 'FORM_MESSAGE' | translate }}*" formControlName="content" required></textarea>
                <div class="error" *ngIf="message.dirty && message.invalid">
                   {{ 'FORM_MESSAGE_ERROR_MSG' | translate }}
                </div>
            </div>

            <div class="col-12">
                <div class="row">
                    <div class="col-12 col-md text-right">
                        <button mat-stroked-button class="btn-share" [disabled]="contactForm.invalid || loading" type="submit"
                            (click)="sendMessage()">{{'BTN_SEND' | translate }}</button>
                            <img *ngIf="loading" class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" /> 
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>