<!--
<ul class="nav justify-content-center justify-content-md-end">
    <li class="nav-item mytontine" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/tontine-list']">My Tontines</a>
    </li>
    <li class="nav-item newtontine mx-2">
        <a class="nav-link text-truncate" [routerLink]="['/create-tontine']">New tontine</a>
    </li> 
    <li class="nav-item invitation">
        <a class="nav-link" href="#">Invitation</a>
    </li>    
    <li class="nav-item wallet" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/wallet']">My Wallet</a>
    </li>
</ul> 

-->
