<ngx-spinner name="pay-rpn" *ngIf="loadingShow" bdColor="rgba(48,168,79,0.3)" size="medium" color="#fff"
  type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">{{ 'SPINNER_REGISTRATION' | translate }}</p>
</ngx-spinner>

<div class="row justify-content-center">

  <div @slideInLeft class="col-12 col-md-12 col-lg-12">

    <form [formGroup]="formRpnEventPayment" class="row m-2">



     <mat-form-field class="col-md-6">
        <input (click)="dateRpn.open()" matInput formControlName="date" [matDatepicker]="dateRpn" placeholder="{{ 'FORM_DATE' | translate }}*">
        <mat-datepicker-toggle matSuffix [for]="dateRpn"></mat-datepicker-toggle>
        <mat-datepicker #dateRpn [startAt]="startDateSelect"></mat-datepicker>
        <mat-error *ngIf="dateError.invalid">
         {{'FORM_DATE_ERROR_MSG' | translate }}
        </mat-error>
      </mat-form-field> 


      <mat-form-field class="col-md-6">
        <input matInput placeholder="{{ 'FORM_AMOUNT' | translate }}*" formControlName="montant_par_membre">
        <mat-error *ngIf="montant.invalid">
           {{ 'FORM_AMOUNT_ERROR_MSG' | translate }}
        </mat-error>
      </mat-form-field>


      <mat-form-field class="col-md-6">
        <mat-label>{{ 'FORM_TYPE' | translate }}*</mat-label>
        <mat-select (selectionChange)="filtersEvents(formRpnEventPayment.value.event_type_id)"
          formControlName="event_type_id">
          <mat-option *ngFor="let type of eventsTypeList" [value]="type.event_type_id">{{type.event_type_desc}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="type.invalid">
         {{ 'FORM_TYPE_ERROR_MSG' | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="col-md-6" *ngIf="formRpnEventPayment.value.event_type_id && eventsTypeListFilter && eventsTypeListFilter.length >0">
        <mat-label>{{ 'FORM_EVENT' | translate }}*</mat-label>
        <mat-select formControlName="event_id">
          <mat-option *ngFor="let event of eventsTypeListFilter" [value]="event.event_id">{{event.description}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="event.invalid">
          {{ 'FORM_EVENT_ERROR_MSG' | translate }}
        </mat-error>
      </mat-form-field>
      <div class="col-md-6" *ngIf="formRpnEventPayment.value.event_type_id && type.dirty && eventsTypeListFilter && eventsTypeListFilter.length === 0">
          <div class="error">
            <mat-error *ngIf="event.invalid">
              {{ 'FORM_EVENT_NOEVENT_TYPE' | translate }}
            </mat-error>
          </div>
      </div>

      <div ngbAutofocus class="col-12 m-3 button-area">
        <button class="btn btn-sm btn-share" [disabled]="formRpnEventPayment.invalid"
          (click)="payRpnEvent()">{{'BTN_SAVE' | translate }}</button>
      </div>
    </form>
  </div>
</div>