<ngx-spinner name="update-event" *ngIf="loadingShow" bdColor="rgba(48,168,79,0.3)" size="medium" color="#fff"
    type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">{{ 'SPINNER_UPDATE' | translate }}</p>
</ngx-spinner>

<div class="container" id="tontine-new">

    <div class="row justify-content-center">

        <div class="col-12 col-md-10">

            <div @slideInLeft class="card">
                <div class="row mx-0">
                    <div class="col-12">
                        <h4 class="py-2 text-center">{{ 'EVENT_UPDATE_EVENT_PLACE' | translate }}</h4>
                    </div>
                </div>
                <form [formGroup]="formEvent" class="row m-2">

                    <mat-form-field class="col-md-12">
                        <input matInput placeholder="{{ 'EVENT_PLACE_FR' | translate }}*" formControlName="nom_lieu_fr">
                        <mat-error *ngIf="lieuFr.invalid">
                            {{ 'EVENT_PLACE_FR_ERROR_MSG' | translate }}
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="col-md-12">
                        <input matInput placeholder="{{ 'EVENT_PLACE_EN' | translate }}*" formControlName="nom_lieu_en">
                        <mat-error *ngIf="lieuEn.invalid">
                            {{ 'EVENT_PLACE_EN_ERROR_MSG' | translate }}
                        </mat-error>
                    </mat-form-field>


                    <mat-form-field class="col-md-12">
                        <input matInput placeholder="{{ 'FORM_ADDRESS' | translate }}*" formControlName="adresse">
                        <mat-error *ngIf="adresse.invalid">
                            {{ 'EVENT_PLACE_EN_ERROR_MSG' | translate }}
                        </mat-error>
                    </mat-form-field>
            

                    <div ngbAutofocus class="col-12 mt-3 button-area">
                        <button mat-stroked-button [disabled]="formEvent.invalid"
                            (click)="updateEventLocation()">{{ 'BTN_SAVE' | translate }}</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>