<ngx-spinner name="delete-video" *ngIf="loadingShow" bdColor="rgba(48,168,79,0.3)" size="medium" color="#fff"
    type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">{{ 'SPINNER_DELETE' | translate }}</p>
</ngx-spinner>

<ngx-spinner name="enable-video" *ngIf="loadingShow" bdColor="rgba(48,168,79,0.3)" size="medium" color="#fff"
    type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">{{ 'SPINNER_ENABLE' | translate }}</p>
</ngx-spinner>


<div class="trans-history m-3">

    <div class="row">
        <div class="col-12 my-2">
            <div class="text-right">
                <mat-form-field appearance="outline" class="col-12 col-md-4">
                    <mat-label>{{ 'FORM_TITLE' | translate }}</mat-label>
                    <input (change)="filterByKeyword(searchTerm)" matInput [(ngModel)]="searchTerm" name="searchTerm">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 py-3">
            <div class="tab-wrappers">
                <div class="tab-content">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>{{ 'FORM_NUMBER_LIGNE' | translate }}</th>
                                    <th scope="col">{{ 'FORM_TITLE' | translate }}</th>
                                    <th scope="col">{{ 'FORM_DESCRIPTION' | translate }}</th>
                                    <th scope="col">{{ 'ARTICLE_AUTHOR' | translate }}</th>
                                    <th scope="col">{{ 'FORM_DATE' | translate }} </th>
                                    <th scope="col">{{ 'FORM_STATUS' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let video of activelistVideos; let i = index">
                                <tr class="table-borderless">
                                    <th>{{i+1}}</th>
                                    <td>{{video && video.video ?  video.video.title : ''}}</td>
                                    <td>
                                        <p class="text-left"
                                            [innerHTML]="video && video.video && video.video.description ?  video.video.description : ''">
                                        </p>
                                    </td>
                                    <td>{{video  &&  video.info_sender ?  video.info_sender[0].Fname + ' ' + video.info_sender[0].Lname : ''}}
                                    </td>
                                    <td>{{video && video.video && video.video.created_at ? video.video.created_at.split(' ')[0] : ''}}
                                    </td>
                                    <td>{{video && video.video && video.video.active === 1 ? ('BTN_ENABLE' | translate) : ('BTN_DISABLE' | translate)}}
                                    </td>
                                </tr>  
                                <tr class="table-borderless">
                                    <th></th>
                                    <td><button mat-stroked-button
                                            (click)="showVideo(video.video)">{{ 'BTN_VIEW' | translate }}</button>
                                    </td> 
                                    <td><button mat-stroked-button
                                        (click)="updateVideo(video)">{{ 'BTN_UPDATE' | translate }}</button>
                                    </td> 
                                    <td>
                                        <button mat-stroked-button
                                            (click)="deleteVideo(video, i)">{{ 'BTN_DELETE' | translate }}</button>
                                    </td>
                                 
                                    <td *ngIf="video && video.video && video.video.approved === 0">
                                        <button  mat-stroked-button
                                            (click)="approuveVideo(video)">{{ 'BTN_APPROUVE' | translate }}</button>
                                    </td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="mt-2 d-flex justify-content-end mr-4"
                *ngIf="activelistVideos && activelistVideos.length > 0 && totalPages>1">
                <div class="row justify-content-between">
                    <div class="col-3 p-0">
                        <span class="pagination-text">{{ 'FORM_NUMBER' | translate }}</span>
                    </div>
                    <div class="col-2 p-0">
                        <select style="border-width: 0px;" (change)="updateNumberItems(nbItemsByPage)"
                            class="pagination-text" [ngModelOptions]="{standalone:true}" [(ngModel)]="nbItemsByPage">
                            <option class="pagination-text" *ngFor="let item of getNumberItems()" [value]="item">
                                {{item}}
                            </option>
                        </select>
                    </div>
                    <div class="col-3 p-0">
                        <span
                            class="pagination-text">{{currentPage>1?(currentPage-1)*nbItemsByPage+1:1}}-{{nbItemsByPage*currentPage>nbItems?(nbItemsByPage*(currentPage -1))+activelistVideos.length:nbItemsByPage*currentPage}}
                            of {{nbItems}}
                        </span>
                    </div>
                    <div class="col-1 pagination-text">
                        <i class="mat-icon material-icons" (click)="previousActiveList(currentPage)">chevron_left</i>
                    </div>
                    <div class="col-1 pagination-text" (click)="nextActiveList(currentPage)">
                        <i class="mat-icon material-icons">chevron_right</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="loadingShow">
    <div class="col">
        <p class="text-center"> <img class="pl-2"
                src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </p>
    </div>
</div>

<div class="text-center" *ngIf="!loadingShow && activelistVideos&&activelistVideos.length === 0">
    <p>{{ 'VIDEOS_EMPTY_LIST' | translate }}</p>
</div>