<ngx-spinner name="credit-rpn" *ngIf="loadingShow" bdColor="rgba(48,168,79,0.3)" size="medium" color="#fff"
    type="ball-scale-multiple">
    <p style="font-size: 20px; color: white">{{ 'SPINNER_REGISTRATION' | translate }}</p>
</ngx-spinner>
<div d="topup">
    <form [formGroup]="formRpn" class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12 col-md-7">
                    <mat-form-field  [hideRequiredMarker]="hideRequired" class="d-block">
                        <mat-label>{{ 'FORM_FAMILY' | translate }}*:</mat-label>
                        <mat-select formControlName="family_id">
                            <mat-option *ngFor="let family of familyList" [value]="family.famille_id">
                                {{family.family_name}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="famille.invalid && famille.dirty">
                               {{'FORM_FAMILY_NAME_ERROR_MSG' | translate }}
                        </mat-error>
                    </mat-form-field>
                    <!---->
                    <mat-form-field [hideRequiredMarker]="hideRequired"  class="d-block">
                        <input matInput placeholder="{{'FORM_AMOUNT' | translate }}" formControlName="amount" required>
                        <span matSuffix>$</span>
                        <mat-error *ngIf="montant.invalid && montant.dirty">
                           {{ 'FORM_AMOUNT_ERROR_MSG' | translate }}
                        </mat-error>
                    </mat-form-field>
                    <div class="my-4">
                        <button mat-stroked-button class="btn-share" [disabled]="formRpn.invalid"
                            (click)="creditRPNFamily()" type="submit">{{ 'BTN_PAID' | translate }}</button>
                    </div>
                </div>
                <div class="col-12 col-md-5" id="logocompany">
                    <img src="assets/images/coins.jpeg"
                        class="mx-auto d-block" alt="credit RPN">
                </div>
            </div>
        </div>
    </form>
</div>