<div class="container my-5" id="contact"> 
    <div class="row my-2 inner-header">
        <div class="col-12 col-lg-8">
            <h3>History</h3>
        </div>
    </div>
    <div class="row my-3 mx-n2">
        <div class="col-12 card mb-3">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec maximus neque. Suspendisse ac accumsan nisl. Pellentesque a tempor ante. Nulla tempus metus sed sapien tempor eleifend. Fusce eu cursus ipsum, ut consectetur metus. Morbi pellentesque ultricies nulla, nec placerat diam pharetra non. Curabitur bibendum dolor ut rhoncus finibus. In bibendum diam eu quam luctus, fringilla cursus sapien finibus. Morbi enim ligula, venenatis sit amet sodales quis, luctus eget eros. Nam turpis lectus, pharetra nec consequat quis, facilisis ut velit. Quisque vel libero ligula. In interdum nulla vel ex mollis, ac porttitor dolor rutrum.
            </p>
        </div>
    </div>
</div>