<div class="trans-history m-3">
    <div class="row" *ngIf="memberData">
        <div class="col-12 py-3">
            <h3> {{ 'FORM_MEMBER' | translate}} :  {{memberData.Fname }} {{memberData.Fname }}</h3>
        </div>
    </div>
    <div class="row" *ngIf="surveyData">
        <div class="col-12 py-3">
            <h3>{{surveyData.survey_title }} : {{surveyData.created_at ? surveyData.created_at.split(' ')[0] : ''  }} </h3>
            <p>{{surveyData.survey_desc }}</p>
        </div>
    </div>
    <div class="row" *ngIf="answersData&&answersData.length > 0">
        <div class="col-12 py-3">
          
                            <div class="row">
                                    <div class="col-6">{{ 'FORM_ANSWER' | translate }}</div>
                                    <div class="col-6">{{ 'FORM_COMMENT' | translate }} </div>
                            </div>
                            <div class="row" *ngFor="let ans of answersData; let i = index">
                                    <div class="col-6" >{{ans.info_answer_survey.answer_desc}}</div>
                                    <div class="col-6"> {{ans.answer_member.comment}}}</div>
                            </div>
              
        </div>
    </div>
</div>

<div class="row" *ngIf="loadingShow">
    <div class="col">
        <p class="text-center"> <img  class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" /> </p>
    </div>
</div>

<div class="text-center" *ngIf="!loadingShow && answersData&&answersData.length === 0">
    <p>{{ 'SURVEYS_MEMBERS_EMPTY_LIST' | translate }}</p>
</div>

