
<ngx-spinner name="delete-article" *ngIf="loadingShow" bdColor="rgba(48,168,79,0.3)" size="medium" color="#fff"
type="ball-scale-multiple">
<p style="font-size: 20px; color: white">{{ 'SPINNER_DELETE' | translate }}</p>
</ngx-spinner>
<div class="trans-history m-3">
    <div class="row" *ngIf="loadingShow">
        <div class="col">
            <p class="text-center"> <img class="pl-2"
                    src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 py-3">
            <div class="tab-wrappers">
                <div class="tab-content">
                    <div class="table-responsive">
                        <table class="table table-striped" >
                            <thead>
                                <tr>
                                    <th>{{ 'FORM_NUMBER_LIGNE' | translate }}</th>
                                    <th scope="col">{{ 'FORM_TITLE' | translate }}</th>
                                    <th scope="col">{{ 'FORM_LINK' | translate }}</th>
                                    <th scope="col">{{ 'FORM_DATE_CREATION' | translate }}</th>
                                    <th scope="col">{{ 'FORM_DATE_EXPIRATION' | translate }}</th>
                                    <th scope="col"  *ngIf="user.executive_id === 1 || user.executive_id===2 || user.executive_id === 13 || user.executive_id===5 || user.executive_id===6 || user.executive_id===8">
                                        <button mat-stroked-button (click)="addJob()">{{ 'BTN_ADD' | translate }}</button>
                                    </th>
                                    <th scope="col"  *ngIf="user.executive_id === 1 || user.executive_id===2 || user.executive_id === 13 || user.executive_id===5 || user.executive_id===6 || user.executive_id===8"></th>
                                    <th scope="col"  *ngIf="user.executive_id === 1 || user.executive_id===2 || user.executive_id === 13 || user.executive_id===5 || user.executive_id===6 || user.executive_id===8"></th>
                                </tr>
                            </thead>
                            <tbody *ngIf="activelistJobs&&activelistJobs.length > 0">
                                <tr *ngFor="let job of activelistJobs; let i = index">
                                    <th>{{i+1}}</th>
                                    <td>{{job.title}}</td>
                                    <td> <a href="{{job.link}}">{{job.link}}</a></td>
                                    <td>{{job.created_at ? job.created_at.split(' ')[0] : ''}}</td>
                                    <td>{{job.expired_date ? job.expired_date.split(' ')[0] : ''}}</td>
                                    <td  *ngIf="user.executive_id === 1 || user.executive_id===2 || user.executive_id === 13 || user.executive_id===5 || user.executive_id===6 || user.executive_id===8">
                                        <button mat-stroked-button (click)="updateJob(job)">{{ 'BTN_UPDATE' | translate }}</button>
                                    </td>
                                    <td  *ngIf="user.executive_id === 1 || user.executive_id===2 || user.executive_id === 13 || user.executive_id===5 || user.executive_id===6 || user.executive_id===8">
                                        <button mat-stroked-button (click)="deleteJob(job, i)">{{ 'BTN_DELETE' | translate }}</button>
                                    </td>
                                    <td  *ngIf="user.executive_id === 1 || user.executive_id===2 || user.executive_id === 13 || user.executive_id===5 || user.executive_id===6 || user.executive_id===8">
                                        <button mat-stroked-button (click)="expireJob(job, i)">{{ 'BTN_DISABLE' | translate }}</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="mt-2 d-flex justify-content-end mr-4"
                *ngIf="activelistJobs && activelistJobs.length > 0 && totalPages>1">
                <div class="row justify-content-between">
                    <div class="col-3 p-0">
                        <span class="pagination-text">{{ 'FORM_NUMBER' | translate }}</span>
                    </div>
                    <div class="col-2 p-0">
                        <select style="border-width: 0px;" (change)="updateNumberItems(nbItemsByPage)"  class="pagination-text" [ngModelOptions]="{standalone:true}" [(ngModel)]="nbItemsByPage">
                            <option class="pagination-text" *ngFor="let item of getNumberItems()" [value]="item">
                                {{item}}
                            </option>
                        </select>
                    </div>
                    <div class="col-3 p-0">
                        <span class="pagination-text">{{currentPage>1?(currentPage-1)*nbItemsByPage+1:1}}-{{nbItemsByPage*currentPage>nbItems?(nbItemsByPage*(currentPage -1))+activelistJobs.length:nbItemsByPage*currentPage}}
                            of {{nbItems}}
                        </span>
                    </div>
                    <div class="col-1 pagination-text">
                        <i class="mat-icon material-icons" (click)="previousActiveList(currentPage)">chevron_left</i>
                    </div>
                    <div class="col-1 pagination-text" (click)="nextActiveList(currentPage)">
                        <i class="mat-icon material-icons">chevron_right</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
