
<ngx-spinner name="delete-visite" *ngIf="loadingShow" bdColor="rgba(48,168,79,0.3)" size="medium" color="#fff"
type="ball-scale-multiple">
<p style="font-size: 20px; color: white">{{'DELETE_LOADING' | translate }}...</p>
</ngx-spinner>
<div class="trans-history m-3">
    <div class="row">
        <div class="col-12 py-3">
            <div class="tab-wrappers">
                <div class="tab-content">
                    <div class="table-responsive">
                        <table class="table table-striped" >
                            <thead>
                                <tr>
                                    <th>{{ 'FORM_NUMBER_LIGNE' | translate }}</th>
                                    <th scope="col">{{ 'FORM_VISITOR' | translate }}</th>
                                    <th scope="col">{{ 'FORM_HOTE' | translate }}</th>
                                    <th scope="col">{{ 'FORM_RELATIONSHIP' | translate }}</th>
                                    <th scope="col">{{ 'FORM_REASON' | translate }}</th>
                                    <th scope="col">{{ 'FORM_DATE' | translate }} </th>
                                    <th scope="col" *ngIf="user.executive_id === 1 || user.executive_id===2 || user.executive_id === 13 || user.executive_id===5 || user.executive_id===6">
                                        <button mat-stroked-button (click)="addVisite()">{{ 'BTN_ADD' | translate }}</button>
                                    </th>
                                    <th scope="col" *ngIf="user.executive_id === 1 || user.executive_id===2 || user.executive_id === 13 || user.executive_id===5 || user.executive_id===6"></th>
                                </tr>
                            </thead>
                            <tbody *ngIf="activelistVisites&&activelistVisites.length > 0">
                                <tr *ngFor="let visite of activelistVisites; let i = index">
                                    <th>{{i+1}}</th>
                                    <td>{{visite.Fname}} {{visite.Lname}}</td>
                                    <td>{{getMemberName(visite.member_id, memberList)}}</td>
                                    <td>{{visite.relation_desc}}</td>
                                    <td>{{visite.reason_desc}}</td>
                                    <td>{{visite.date }}</td>
                                    <td *ngIf="user.executive_id === 1 || user.executive_id===2 || user.executive_id === 13 || user.executive_id===5 || user.executive_id===6">
                                        <button mat-stroked-button (click)="updateVisite(visite)">{{ 'BTN_UPDATE' | translate }}</button>
                                    </td>
                                    <td *ngIf="user.executive_id === 1 || user.executive_id===2 || user.executive_id === 13 || user.executive_id===5 || user.executive_id===6">
                                        <button mat-stroked-button (click)="deleteVisite(visite, i)">{{ 'BTN_DELETE' | translate }}</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="mt-2 d-flex justify-content-end mr-4"
                *ngIf="activelistVisites && activelistVisites.length > 0 && totalPages>1">
                <div class="row justify-content-between">
                    <div class="col-3 p-0">
                        <span class="pagination-text">{{ 'FORM_NUMBER' | translate }}</span>
                    </div>
                    <div class="col-2 p-0">
                        <select style="border-width: 0px;" (change)="updateNumberItems(nbItemsByPage)"  class="pagination-text" [ngModelOptions]="{standalone:true}" [(ngModel)]="nbItemsByPage">
                            <option class="pagination-text" *ngFor="let item of getNumberItems()" [value]="item">
                                {{item}}
                            </option>
                        </select>
                    </div>
                    <div class="col-3 p-0">
                        <span class="pagination-text">{{currentPage>1?(currentPage-1)*nbItemsByPage+1:1}}-{{nbItemsByPage*currentPage>nbItems?(nbItemsByPage*(currentPage -1))+activelistVisites.length:nbItemsByPage*currentPage}}
                            of {{nbItems}}
                        </span>
                    </div>
                    <div class="col-1 pagination-text">
                        <i class="mat-icon material-icons" (click)="previousActiveList(currentPage)">chevron_left</i>
                    </div>
                    <div class="col-1 pagination-text" (click)="nextActiveList(currentPage)">
                        <i class="mat-icon material-icons">chevron_right</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
